/* styles.css (o el nombre de tu archivo de estilos) */
.habitaciones-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: radial-gradient(circle, #aef198, #0a4b01); /* Usamos radial-gradient */
  min-height: 100vh;
  padding: 19px; /* Añade algún relleno para evitar que el contenido toque los bordes */
  backdrop-filter: blur(10px); /* Agrega el difuminado */
}

.habitacion-card {
  width: 100%; /* Ajusta el ancho para ocupar toda la pantalla */
  margin-bottom: 16px; /* Añade margen inferior para separar las tarjetas */
}

.habitacion-card img {
  width: 100%; /* Ajusta el ancho de la imagen para ocupar toda la pantalla */
  height: 200px; /* Ajusta la altura de manera fija */
  object-fit: cover; /* Ajusta el comportamiento de la imagen para cubrir el contenedor */
}

/* styles.css (o el nombre de tu archivo de estilos) */

/* Agrega media query solo para dispositivos móviles */
@media (max-width: 767px) {
  .habitacion-card {
    width: 100%; /* Ajusta el ancho para ocupar toda la pantalla en dispositivos móviles */
    margin-bottom: 16px; /* Añade margen inferior para separar las tarjetas */
  }

  .habitacion-card img {
    height: auto; /* Cambia la altura para que se ajuste proporcionalmente */
  }

  .habitacion-card > div {
    flex-direction: column; /* Cambia la dirección del flexbox a columna para apilar los elementos */
    align-items: center; /* Centra los elementos */
    text-align: center; /* Centra el texto */
    margin-left: 0; /* Quita el margen izquierdo */
  }

  .habitacion-card > div > div {
    margin: 16px 0; /* Añade margen alrededor de la imagen y la información */
  }
}
